* {
    font-family: "Space Grotesk";
}

body {
    height: 100vh;
    background: #291f4e;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

#login {
    width: 400px;
    height: 500px;
    position: relative;
    border-radius: 10px;
    background: rgb(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: -1;
    background-color: rgba(0, 255, 0, 0.6);
    filter: hue-rotate(0deg) blur(30px);
}

#circle1 {
    top: 0;
    left: 0;
    animation: circle1 5s linear infinite alternate, animate 5s linear infinite alternate;
}

#circle2 {
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
    animation: circle2 5s linear infinite alternate, animate 5s linear infinite alternate;
}

@keyframes circle1 {
    0% {
        transform: translate(-50%, -50%);
        filter: hue-rotate(0deg) blur(10px);
    }

    100% {
        filter: hue-rotate(180deg) blur(3px);
        transform: translate(-10%, -40%);
    }
}

@keyframes circle2 {
    0% {
        transform: translate(50%, 50%);
        filter: hue-rotate(0deg) blur(10px);

    }

    100% {
        transform: translate(20%, 40%);
        filter: hue-rotate(270deg) blur(3px);

    }
}

h2 {
    font-size: 2rem;
    margin: 80px 0 75px 0;
    letter-spacing: 2px;
    color: rgb(192, 192, 192);
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

form input {
    width: 80%;
    height: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid rgb(0, 94, 100);
    color: white;
    position: relative;
}


span {
    position: absolute;
    left: 40px;
    top: 190px;
    color: transparent;
    background: linear-gradient(20deg, #be97fc, #7601fc);
    background-clip: text;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
    pointer-events: none;

}


span:nth-of-type(2) {
    top: 312px;
}

form input:focus+span,
form input:valid+span {
    margin-top: -15px;
}

#submit {
    display: block;
    position: relative;
    width: 60%;
    height: 35px;
    border: none;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: #7601fc;
    font-size: 1.2rem;
    letter-spacing: 3px;
    cursor: pointer;
    transition:all  0.4s;
}

#submit:hover {
    background-color: #7601fc6f;
    transform: translateY(-5px);
}